footer {
    margin-top: 50px;
    padding: 50px 0;


}

.forma {
    width: 40%;

}

.content {
    width: 70%;
    margin: 10px auto;

}

.flex {
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: 0;
    background: #fff;
}