* {
  margin: 0;
  padding: 0;
}

body {
  background: #EEF0DC; //dae0bd EEF0DC e7e7e5
  color: #3b4242;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

.wrapper {
  width: 1250px;
  margin: 50px auto;
}

/* font-family: "Noto Sans JP", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;

*/